 <% include('../layouts/center.ejs') %>
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Molla - Bootstrap eCommerce Template" />
<meta name="author" content="p-themes" />
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>

<!-- Favicon -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="assets/images/icons/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="assets/images/icons/favicon-32x32.png"
/>
<lin
  rel="icon"
  type="image/png"
  sizes="16x16"    
  href="assets/images/icons/favicon-16x16.png"
/>
<link rel="manifest" href="assets/images/icons/site.html" />
<link
  rel="mask-icon"
  href="assets/images/icons/safari-pinned-tab.svg"
  color="#666666"
/>
<link rel="shortcut icon" href="assets/images/icons/favicon.ico" />
<meta name="apple-mobile-web-app-title" content="Molla" />
<meta name="application-name" content="Molla" />
<meta name="msapplication-TileColor" content="#cc9966" />
<meta
  name="msapplication-config"
  content="assets/images/icons/browserconfig.xml"
/>
<meta name="theme-color" content="#ffffff" />
<link
  rel="stylesheet"
  href="assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css"
/>
<!-- Plugins CSS File -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
<link
  rel="stylesheet"
  href="assets/css/plugins/owl-carousel/owl.carousel.css"
/>
<link
  rel="stylesheet"
  href="assets/css/plugins/magnific-popup/magnific-popup.css"
/>
<link rel="stylesheet" href="assets/css/plugins/jquery.countdown.css" />
<!-- Main CSS File -->
<link rel="stylesheet" href="assets/css/style.css" />
<link rel="stylesheet" href="assets/css/skins/skin-demo-2.css" />
<link rel="stylesheet" href="assets/css/demos/demo-2.css" />
<link rel="stylesheet" href="/userHome.css" />

 <style>
  /* Decorated links for Home and Shop */
  .decorated-link {
    position: relative;
    color: #333; /* Set the link text color */
    text-decoration: none;
    transition: color 0.3s ease;
    padding-right: 10px; /* Adjust this value to add spacing between text and decoration */
  }

  .decorated-link:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust this value to change the decoration line's height */
    background-color: #ff8c00; /* Set the decoration line color */
    transition: width 0.3s ease;
  }

  .decorated-link:hover {
    color: #ff8c00; /* Set the link text color on hover */
  }

  .decorated-link:hover:before {
    width: 100%;
  }
</style>
<style>
  .invoice-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<% include('../layouts/center.ejs') %>
<div class="page-wrapper">
  <!--Header start-->

  <header class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid p-5">
      <a class="navbar-brand" href="#">
        <img
          width="250rem"
          height="250rem"
          src="https://imgs.search.brave.com/IS3ECAw-N7V5vfLuJOPJQwYn0zPRLDKKDI5LT2JFpxU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/Y3NvZGJyYW5kLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAy/MS8xMC9Db3JuZXJz/dG9uZS1Mb2dvLUhv/cml6b250YWwucG5n"
          alt=""
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon togg"  
          ><i class="fa-solid fa-bars"></i
        ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="ms-auto">
          <a class="me-5 text-dark" href="/">Home</a>
          <a class="me-5 text-dark" <% if(locals.user){ %>
                href="/productList">
            <% }else{ %>
              href="/productListN">
              
              <% } %>Shop</a>
          <a class="me-5 text-dark" href="#">About Us</a>
          
          <a class="me-4 text-dark" href="#">Contact Us </a>
          <a class="me-4 text-dark" href="/cart "><%   if(locals.user){  %>
            
            
            <i class="fas fa-shopping-cart"></i>
            
            <% } %></a>
          <a href="#"><i class="me-4 fa-regular fa-heart"></i></a>

          <div class="dropdown d-inline">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-regular fa-user" style="margin-right: 5px;">
                <% if (locals.user){%>
               <%= user.userName%>
                 <%} %></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" <% if(locals.user) { %> 
                    href="/userProfile">
                <% }else{ %>
                 href="/userSignIn">
                  <% } %>
               
                <% if(locals.user){ %>
                   My profile

               <%  }else{%>
                  Login

              <%   }%>
              </a></li>
              <li><a class="dropdown-item" <% if(locals.user) {%> 
                   href="/userLogout">
                <% }else{ %>
                    href="/userRegister">
                  <% } %>
                <% if(locals.user){ %>
                   Logout

               <%  }else{%> 
                  Sign Up

              <%   }%>
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>


  <br>
  <br>
 


<body class="goto-here">
  <!-- Dummy content for userNav.ejs inclusion -->


  <div class="container breadcrumb-section bg-secondary" >
    <div class="breadcrumb-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="breadcrumb-title" style="color: white">Your Orders</h2>
            <h4 class="breadcrumb-subtitle" style="color: white">
              Track your orders and view details
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ...:::: End Breadcrumb Section:::... -->

  <div class="container mb-4">
    <div class="d-flex align-items-center justify-content-between">
      <h4>Thank you for placing your order.</h4>
      <a href="/userProfile" class="btn btn-md btn-success bg-secondary mt-3">Back</a>
      
    </div>
    <br>
    <div>
       <% if (aggrOrderData) { %>
       <% for (let order of aggrOrderData) {%>
      <!-- Dummy content for orderHistory iteration -->
      <div class="order-box border rounded p-4 mb-5">
        <h5 class="mb-3">Order ID: <%=order._id  %></h5>
        <div class="row">
          <div class="col-md-6">  
          <% const formattedDate = new Date(order.date).toLocaleDateString(); %>
          <% const formattedTime = new Date(order.date).toLocaleTimeString(); %>
            <p>Date: <%=formattedDate  %></p>
            <p>Order Time: <%=formattedTime  %></p>
            <br>
            
            <h5 id="status-<%=order._id%>" class="text-success">Status: <%=order.status  %></h5>
     
             
          
           
            <a href="#" class="invoice-btn bg-success">Download Invoice</a>
          </div>
          <div class="col-md-6">
            <p>Total: ₹<span id="total"><%=order.total_amount  %></span></p>
            <p>Method : <span id="method"><%= order.payment  %></span></p>
            <p>Expected Delivery: <%= order.expected_delivery  %></p>
            <br>
            <a href="/viewOrdered?id=<%= order._id  %>" class="btn btn-md btn-success bg-secondary">View Details</a>
             <% if(order.status=='placed'||order.status=='pending'){ %>

            <a href="#" style="background-color: #f44336;" onclick="cancel(event,'<%=order._id%>')" id="cancel-<%=order._id  %>" class="btn btn-md btn-danger buttonCancel">Cancel</a>
                    <% }else if(order.status=='delivered'){ %>

                  <% const orderDate=new Date(order.date) %>
                  <% const returnExpiry=new Date(orderDate) %>
                  <% returnExpiry.setDate(returnExpiry.getDate()+10); %>
                  <% const currDate=new Date() %>

                  <% if (currDate<=returnExpiry){ %>


             <a href="#" onclick="returnOrder(event,'<%=order._id%>')" id="return-<%=order._id  %>" class="btn btn-md btn-danger buttonCancel">Return</a>
                     <p class="text-muted mt-3" id="return-text">Please note that order returns are only possible within 10 days from the delivery date.</p>
             <% }else{ %>
                       <p class="text-muted mt-3">Return expired</p>
                  <% } %>
                  <% } %>
          </div>
        </div>  
      </div>
      <!-- End Dummy Content -->
      <% } %>
      <% }else{%>

       <h1>No orders</h1>
      <% } %>
    
    </div>
 
    <div class="flex items-center">
   <% for(let j=1;j<=totalPages;j++){ %>
   <a
    href="/orders?page=<%= j %>"
    class="mx-1 flex items-center  rounded-md border border-gray-400 px-3 py-1 text-gray-900 hover:scale-105"
  >
    <%= j %>
  </a>

  <% } %>
  </div>

</body>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 
 <footer class="">
    <div class="container-fluid border-top border-bottom">
      <div class="row">
        <div class="col-xl-3 mb-3">
          <img
            class="p-4"
            width="90rem"
            height="90rem"
            src="/assets/images/logo/logo-only.png"
            alt=""
          />
          <p class="mb-4 mt-1">
            Welcome to Cornerstore, where beauty meets function in every piece. Elevate your living spaces with our curated collection, a symphony of style and comfort. Transform your home into a haven of beauty and sophistication, exclusively at Cornerstore.
          </p>
          <span class="social-label mt-3 mb-3"
            ><a
              href="#"
              class="social-icon social-facebook p-3"
              title="Facebook"
              target="_blank"
              ><i class="icon-facebook-f"></i
            ></a>
            <a
              href="#"
              class="social-icon social-twitter p-3"
              title="Twitter"
              target="_blank"
              ><i class="icon-twitter"></i
            ></a>
            <a
              href="#"
              class="social-icon social-instagram p-3"
              title="Instagram"
              target="_blank"
              ><i class="icon-instagram"></i
            ></a>
            <a
              href="#"
              class="social-icon social-youtube p-3"
              title="Youtube"
              target="_blank"
              ><i class="icon-youtube"></i></a
          ></span>
        </div>

        <div class="col-xl-2"></div>
        <div class="col-xl-7 mb-4">
          <div class="container-fluid mt-5">
            <div class="row links-wrap mt-5">
              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li class="mb-2">
                    <a class="text-dark" href="#">About us</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Services</a>
                  </li>
                  <li class="mb-2"><a class="text-dark" href="#">Blog</a></li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Contact us</a>
                  </li>
                </ul>
              </div>

              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li class="mb-2">
                    <a class="text-dark" href="#">Support</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Knowledge base</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Live chat</a>
                  </li>
                </ul>
              </div>

              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li class="mb-2"><a class="text-dark" href="#">Jobs</a></li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Our team</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Leadership</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Privacy Policy</a>
                  </li>
                </ul>
              </div>

              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li class="mb-2">
                    <a class="text-dark" href="#">Nordic Chair</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Kruzo Aero</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Ergonomic Chair</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--payment images-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3">
          <img
            class="mt-2"
            src="assets/images/payments.png"
            alt="Payment methods"
            width="272"
            height="20"
          />
        </div>
        <div class="col-xl-6"></div>
        <div class="col-xl-3 ms-auto mt-1">
          Copyright © 2023 Cornerstone Store. All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>
  <!-- End .footer -->
</div>
<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top">
  <i class="icon-arrow-up"></i>
</button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container mobile-menu-light">
  <div class="mobile-menu-wrapper">
    <span class="mobile-menu-close"><i class="icon-close"></i></span>

    <form action="#" method="get" class="mobile-search">
      <label for="mobile-search" class="sr-only">Search</label>
      <input
        type="search"
        class="form-control"
        name="mobile-search"
        id="mobile-search"
        placeholder="Search product ..."
        required
      />
      <button class="btn btn-primary" type="submit">
        <i class="icon-search"></i>
      </button>
    </form>

    <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="mobile-menu-link"
          data-toggle="tab"
          href="#mobile-menu-tab"
          role="tab"
          aria-controls="mobile-menu-tab"
          aria-selected="true"
          >Menu</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="mobile-cats-link"
          data-toggle="tab"
          href="#mobile-cats-tab"
          role="tab"
          aria-controls="mobile-cats-tab"
          aria-selected="false"
          >Categories</a
        >
      </li>
    </ul>

    
    <!-- End .tab-content -->

    <div class="social-icons">
      <a href="#" class="social-icon" target="_blank" title="Facebook"
        ><i class="icon-facebook-f"></i
      ></a>
      <a href="#" class="social-icon" target="_blank" title="Twitter"
        ><i class="icon-twitter"></i
      ></a>
      <a href="#" class="social-icon" target="_blank" title="Instagram"
        ><i class="icon-instagram"></i
      ></a>
      <a href="#" class="social-icon" target="_blank" title="Youtube"
        ><i class="icon-youtube"></i
      ></a>
    </div>
    <!-- End .social-icons -->
  </div>
  <!-- End .mobile-menu-wrapper -->
</div>
<!-- End .mobile-menu-container -->

<!-- Sign in / Register Modal -->
<div
  class="modal fade"
  id="signin-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"><i class="icon-close"></i></span>
        </button>

        <div class="form-box">
          <div class="form-tab">
            <ul class="nav nav-pills nav-fill" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="signin-tab"
                  data-toggle="tab"
                  href="#signin"
                  role="tab"
                  aria-controls="signin"
                  aria-selected="true"
                  >Sign In</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="register-tab"
                  data-toggle="tab"
                  href="#register"
                  role="tab"
                  aria-controls="register"
                  aria-selected="false"
                  >Register</a
                >
              </li>
            </ul>
            <div class="tab-content" id="tab-content-5">
              <div
                class="tab-pane fade show active"
                id="signin"
                role="tabpanel"
                aria-labelledby="signin-tab"
              >
                <form action="#">
                  <div class="form-group">
                    <label for="singin-email"
                      >Username or email address *</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="singin-email"
                      name="singin-email"
                      required
                    />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-group">
                    <label for="singin-password">Password *</label>
                    <input
                      type="password"
                      class="form-control"
                      id="singin-password"
                      name="singin-password"
                      required
                    />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-footer">
                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>LOG IN</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>

                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="signin-remember"
                      />
                      <label class="custom-control-label" for="signin-remember"
                        >Remember Me</label
                      >
                    </div>
                    <!-- End .custom-checkbox -->

                    <a href="#" class="forgot-link">Forgot Your Password?</a>
                  </div>
                  <!-- End .form-footer -->
                </form>
                <div class="form-choice">
                  <p class="text-center">or sign in with</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-g">
                        <i class="icon-google"></i>
                        Login With Google
                      </a>
                    </div>
                    <!-- End .col-6 -->
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-f">
                        <i class="icon-facebook-f"></i>
                        Login With Facebook
                      </a>
                    </div>
                    <!-- End .col-6 -->
                  </div>
                  <!-- End .row -->
                </div>
                <!-- End .form-choice -->
              </div>
              <!-- .End .tab-pane -->
              <div
                class="tab-pane fade"
                id="register"
                role="tabpanel"
                aria-labelledby="register-tab"
              >
                <form action="#">
                  <div class="form-group">
                    <label for="register-email">Your email address *</label>
                    <input
                      type="email"
                      class="form-control"
                      id="register-email"
                      name="register-email"
                      required
                    />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-group">
                    <label for="register-password">Password *</label>
                    <input
                      type="password"
                      class="form-control"
                      id="register-password"
                      name="register-password"
                      required
                    />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-footer">
                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>SIGN UP</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>

                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="register-policy"
                        required
                      />
                      <label class="custom-control-label" for="register-policy"
                        >I agree to the <a href="#">privacy policy</a> *</label
                      >
                    </div>
                    <!-- End .custom-checkbox -->
                  </div>
                  <!-- End .form-footer -->
                </form>
                <div class="form-choice">
                  <p class="text-center">or sign in with</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-g">
                        <i class="icon-google"></i>
                        Login With Google
                      </a>
                    </div>
                    <!-- End .col-6 -->
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-f">
                        <i class="icon-facebook-f"></i>
                        Login With Facebook
                      </a>
                    </div>
                    <!-- End .col-6 -->
                  </div>
                  <!-- End .row -->
                </div>
                <!-- End .form-choice -->
              </div>
              <!-- .End .tab-pane -->
            </div>
            <!-- End .tab-content -->
          </div>
          <!-- End .form-tab -->
        </div>
        <!-- End .form-box -->
      </div>
      <!-- End .modal-body -->
    </div>
    <!-- End .modal-content -->
  </div>
  <!-- End .modal-dialog -->
</div>
<!-- End .modal -->

<!-- Plugins JS File -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.plugin.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>
<script
  src="https://kit.fontawesome.com/c0b612fc07.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>


<script>
async function cancel(event,orderId){

     try {
      
     event.preventDefault()      
     console.log('started click');
  
     
     Swal.fire({
      title:'Cancel Order',
      text:'Are you sure you want to cancel this order?',
      icon:'warning',
      showCancelButton:'true',
      confirmButtonText:'Ok',
      cancelButtonText:'Cancel',
      dangerMode:true,

     }).then(async(willDelete)=>{
      if(willDelete.isConfirmed){ 
     const response=await axios.patch('/cancelOrder',{orderId})

       if(response.data.success){
        document.getElementById(`status-${orderId}`).innerHTML=`Status: ${response.data.status}`
        const removeElement = document.getElementById(`cancel-${orderId}`);
    
        removeElement.parentNode.removeChild(removeElement);
        
       
       }
      
      }

     })

    }catch(error){
     console.log(error.message);
    }
    }



    async function returnOrder(event,orderId){
    try {
      
     event.preventDefault()      
     console.log('started click');
  
     
     Swal.fire({
      title:'Return Order',
      text:'Are you sure you want to return this order?',
      icon:'warning',
      showCancelButton:'true',
      confirmButtonText:'Ok',
      cancelButtonText:'Cancel',
      dangerMode:true,

     }).then(async(willDelete)=>{
      if(willDelete.isConfirmed){ 
     const response=await axios.patch('/returnOrder',{orderId})

       if(response.data.success){
        document.getElementById(`status-${orderId}`).innerHTML=`Status: ${response.data.status}`
        const removeElement = document.getElementById(`return-${orderId}`);
    
        removeElement.parentNode.removeChild(removeElement);
        
       
       }
      
      }

     })

    }catch(error){
     console.log(error.message);
    }

    




    }
</script>


<!-- Main JS File -->
<script src="assets/js/main.js"></script>
<script src="assets/js/demos/demo-2.js"></script>
<% include('../layouts/footer.ejs') %>
