<% include('../layouts/header.ejs') %>
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Molla - Bootstrap eCommerce Template" />
<meta name="author" content="p-themes" />
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>

<!-- Favicon -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="assets/images/icons/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="assets/images/icons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="assets/images/icons/favicon-16x16.png"
/>
<link rel="manifest" href="assets/images/icons/site.html" />
<link
  rel="mask-icon"
  href="assets/images/icons/safari-pinned-tab.svg"
  color="#666666"
/>
<link rel="shortcut icon" href="assets/images/icons/favicon.ico" />
<meta name="apple-mobile-web-app-title" content="Molla" />
<meta name="application-name" content="Molla" />
<meta name="msapplication-TileColor" content="#cc9966" />
<meta
  name="msapplication-config"
  content="assets/images/icons/browserconfig.xml"
/>
<meta name="theme-color" content="#ffffff" />
<link
  rel="stylesheet"
  href="assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css"
/>
<!-- Plugins CSS File -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
<link
  rel="stylesheet"
  href="assets/css/plugins/owl-carousel/owl.carousel.css"
/>
<link
  rel="stylesheet"
  href="assets/css/plugins/magnific-popup/magnific-popup.css"
/>
<link rel="stylesheet" href="assets/css/plugins/jquery.countdown.css" />
<!-- Main CSS File -->
<link rel="stylesheet" href="assets/css/style.css" />
<link rel="stylesheet" href="assets/css/skins/skin-demo-2.css" />
<link rel="stylesheet" href="assets/css/demos/demo-2.css" />
<link rel="stylesheet" href="/assets/css/orderPlaced.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<% include('../layouts/center.ejs') %>
<div class="page-wrapper">
  <!--Header start-->

  <header style="height: 7rem;" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid p-5">
      <a class="navbar-brand" href="#">
        <img
          width="250rem"
          height="70rem"
          src="https://imgs.search.brave.com/IS3ECAw-N7V5vfLuJOPJQwYn0zPRLDKKDI5LT2JFpxU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/Y3NvZGJyYW5kLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAy/MS8xMC9Db3JuZXJz/dG9uZS1Mb2dvLUhv/cml6b250YWwucG5n"
          alt=""
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon togg"
          ><i class="fa-solid fa-bars"></i
        ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="ms-auto">
          <a class="me-5 text-dark" href="/">Home</a>
          <a class="me-5 text-dark" <% if(user){ %>
                href="/productList">
            <% }else{ %>
              href="/productListN">
              
              <% } %>Shop</a>
          <a class="me-5 text-dark" href="#">About Us</a>
          
          <a class="me-4 text-dark" href="#">Contact Us </a>
          <a class="me-4 text-dark" href="/cart "><%   if(user){  %>
            
            
            <i class="fas fa-shopping-cart"></i>
            
            <% } %></a>
          <a href="#"><i class="me-4 fa-regular fa-heart"></i></a>

          <div class="dropdown d-inline">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-regular fa-user" style="margin-right: 5px;">
                <% if (user){%>
               <%= user.userName%>
                 <%} %></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" <% if(user) { %> 
                    href="/userProfile">
                <% }else{ %>
                 href="/userSignIn">
                  <% } %>
               
                <% if(user){ %>
                   My profile

               <%  }else{%>
                  Login

              <%   }%>
              </a></li>
              <li><a class="dropdown-item" <% if(user) {%> 
                   href="/userLogout">
                <% }else{ %>
                    href="/userRegister">
                  <% } %>
                <% if(user){ %>
                   Logout

               <%  }else{%> 
                  Sign Up

              <%   }%>
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <br>

       <main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->



    
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h5>Order Placed!!</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-5">
                    <div class="mb-4" style="text-align: center;">
                        <h3 style="color: green;">Congrats !! , Your order has been placed successfully</h3>
                    </div>

                 
                        <div class="shopping-cart">
                            <table class="cart-table">
                               

                                
                            </table>
                        </div>
                


                </div>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="order-card">
                        <div class="order-card-header">
                            <h3>Order Summary</h3>
                        </div>
                        <div class="order-card-body" id="printThisDiv">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Details</th>
                                        <th scope="col">Info</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Order ID:</td>
                                        <td>
                                         <%= orderId  %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>User Name:</td>
                                        <td>
                                           <%= order.user_name  %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Address Details:</td>
                                        <td>
                                            <%= order.delivery_address  %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Payment:</td>
                                        <td>
                                           <%= order.payment  %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total Price:</td>
                                        <td>₹<%=order.total_amount  %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Date:</td>
                                        <td>
                                           <%= order.date  %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Delivery by:</td>

                                        <td>
                                            <%= order.expected_delivery  %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <div>
                                <strong>Thank You For Purchasing With Us 😊    <span class="btn btn-light"><a href="/orders"><b>View orders</b></a></span></strong>

                            </div>
                            <br>
                            <div class="order-card-footer">
                                <a href="/productList">Continue Shopping</a>
                            </div>
                            <div>
                                <button type="button" onclick="downloadPDF('printThisDiv')" class="btn btn-primary mt-3">
                                    Print
                                </button>
                            </div>
                            <br>
                        </div>

                    </div>
                </div>
            </div>
        </div>
         <footer class="">
    <div class="container-fluid border-top border-bottom">
      <div class="row">
        <div class="col-xl-3 mb-3">
          <img
            class="p-4"
            width="90rem"
            height="90rem"
            src="/assets/images/logo/logo-only.png"
            alt=""
          />
          <p class="mb-4 mt-1">
            Welcome to Cornerstore, where beauty meets function in every piece. Elevate your living spaces with our curated collection, a symphony of style and comfort. Transform your home into a haven of beauty and sophistication, exclusively at Cornerstore.
          </p>
          <span class="social-label mt-3 mb-3"
            ><a
              href="#"
              class="social-icon social-facebook p-3"
              title="Facebook"
              target="_blank"
              ><i class="icon-facebook-f"></i
            ></a>
            <a
              href="#"
              class="social-icon social-twitter p-3"
              title="Twitter"
              target="_blank"
              ><i class="icon-twitter"></i
            ></a>
            <a
              href="#"
              class="social-icon social-instagram p-3"
              title="Instagram"
              target="_blank"
              ><i class="icon-instagram"></i
            ></a>
            <a
              href="#"
              class="social-icon social-youtube p-3"
              title="Youtube"
              target="_blank"
              ><i class="icon-youtube"></i></a
          ></span>
        </div>

        <div class="col-xl-2"></div>
        <div class="col-xl-7 mb-4">
          <div class="container-fluid mt-5">
            <div class="row links-wrap mt-5">
              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li class="mb-2">
                    <a class="text-dark" href="#">About us</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Services</a>
                  </li>
                  <li class="mb-2"><a class="text-dark" href="#">Blog</a></li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Contact us</a>
                  </li>
                </ul>
              </div>

              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li class="mb-2">
                    <a class="text-dark" href="#">Support</a>
                  </li>
                  
                  <li class="mb-2">
                    <a class="text-dark" href="#">Knowledge base</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Live chat</a>
                  </li>
                </ul>
              </div>

              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li class="mb-2"><a class="text-dark" href="#">Jobs</a></li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Our team</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Leadership</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Privacy Policy</a>
                  </li>
                </ul>
              </div>

              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li class="mb-2">
                    <a class="text-dark" href="#">Nordic Chair</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Kruzo Aero</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Ergonomic Chair</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--payment images-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3">
          <img
            class="mt-2"
            src="/assets/images/payments.png"
            alt="Payment methods"
            width="272"
            height="20"
          />
        </div>
        <div class="col-xl-6"></div>
        <div class="col-xl-3 ms-auto mt-1">
          Copyright © 2023 Cornerstone Store. All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>
  <!-- End .footer -->
</div>
<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top">
  <i class="icon-arrow-up"></i>
</button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->


<!-- End .modal -->

<!-- Plugins JS File -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.plugin.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>
<script
  src="https://kit.fontawesome.com/c0b612fc07.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>
<script src="assets/js/demos/demo-2.js"></script>
<% include('../layouts/footer.ejs') %>

</body>

</html>